@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(128, 128, 128);
}

header {
    width: 78%;
    height: auto;
    /* border: 1px solid #000; */
    margin: auto;
    background: #fff;
}

header nav {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
}

header nav h5 span {
    color: orangered;
}

header nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

header nav ul li {
    padding: 3px 0px 3px 30px;
}

header nav ul li a {
    text-decoration: none;
    font-size: 13px;
    font-weight: 600px;
    color: rgb(0, 0, 0, .7);
    transition: .3s linear;
}

header nav ul li a:hover {
    color: rgb(0, 0, 0);
}

header nav ul li a i {
    margin-right: 3px;
}

header .brand_nav {
    width: 100%;
    height: 80px;
    background: rgb(0, 0, 0);
    color: #fff;
}

header .brand_nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    transition: .3s linear;
    padding: 0px 20px;
}

header .brand_nav ul li {
    position: relative;
    transition: .3s linear;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .brand_nav ul li a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(193, 193, 193, .5);
    transition: .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

header .brand_nav ul li a:hover {
    color: #fff;
}

header .brand_nav ul li i {
    margin-left: 6px;
    transition: .3s linear;
}

/* header .brand_nav ul li:nth-last-child(1) i {
    color: orangered;
} */

header .brand_nav ul li img {
    width: 100%;
    height: 100%;
}

header .brand_nav ul li:nth-child(2) {
    width: 130px;
}

header .brand_nav ul li:nth-child(4) {
    width: 130px;
}

header .brand_nav ul li:nth-child(2):hover {
    color: orangered;
}

header .brand_nav ul li:nth-child(4):hover {
    color: orangered;
}

header .brand_nav ul li:nth-child(1) .select_bx {
    position: absolute;
    top: 100%;
    width: 90px;
    height: 0;
    background: orangered;
    padding: 10px;
    border-radius: 5px;
    z-index: 9999999;
    box-shadow: 0px 0px 20px rgb(0, 0, 0, .5);
    overflow: hidden;
    transition: 1s linear;
    opacity: 0;
}

header .brand_nav ul li:nth-child(1) .select_bx h5 {
    padding: 5px 0px;
}

header .brand_nav ul li:nth-child(1) .select_bx_active {
    height: 100px;
    opacity: 1;
}


header .brand_nav .li_bx {
    width: 100%;
    height: auto;
    background: rgba(231, 228, 226, 0.868);
    padding: 7px 0px;
}

header .brand_nav .li_bx li {
    color: #044e3c94;
    font-size: 13px;
    transition: .3s linear;
    cursor: pointer;
}

header .brand_nav .li_bx li:hover {
    color: rgb(0, 0, 0, .8);
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 34px auto 0px auto;
    width: 70%;
    height: auto;
}

aside {
    flex-basis: 50%;
    padding-right: 20px;
}

.pay {
    margin-bottom: 20px;
}

.pay h4 {
    font-size: 24px;
    margin-bottom: 10px;
}

.pay ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pay li {
    font-size: 18px;
    margin-bottom: 10px;
}